<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <modules>
        <!-- Remove this comment mark to enable PATH url format
        <module id="request" class="THttpRequest" UrlFormat="Path" />
        Or
        <module id="request" class="THttpRequest" UrlManager="friendly-url" />
        <module id="friendly-url" class="System.Web.TUrlMapping">
            <url ServiceParameter="Posts.ViewPost" pattern="post/{id}/" parameters.id="\d+" />
            <url ServiceParameter="Posts.ListPost" pattern="archive/{time}/" parameters.time="\d{6}" />
            <url ServiceParameter="Posts.ListPost" pattern="category/{cat}/" parameters.cat="\d+" />
        </module>
        -->

        <module id="request" class="THttpRequest"
                UrlManager="friendly-url"
                UrlFormat="Path"
        />
        <module id="friendly-url" class="System.Web.TUrlMapping"
                EnableCustomUrl="true"
        >
            <url ServiceParameter="fo.Home" pattern="home"/>
            <url ServiceParameter="bo.Dashboard" pattern="dashboard"/>
            <url ServiceParameter="bo.users.LoginPage" pattern="login"/>
        </module>
    </modules>
</configuration>